# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Firebase
serviceAccountKey.json

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store        # Mac
Thumbs.db        # Windows

# Editor
.vscode/
.idea/

# Build
dist/
build/